/Debug/
/Debug - BeagleV-Fire/
/Debug-BeagleV-Fire/
/Debug - Icicle Kit/
/Debug-Icicle-Kit/
/DDR-Release/
.cproject
.project
/.settings/language.settings.xml
mpfs-dma-streaming-v0/mpfs-dma-streaming-v0\ all-harts\ debug.launch




